FGT_ENVIRONMENT=development
FGT_DATABASE_URL=sqlite:///./data/folder_grant.db
FGT_API_KEY=change-me
FGT_SHARE_ROOT=\\\\LSK_S010\\Study Folder\\{proj_seg}\\{lv2}\\{lv3}
FGT_CLOSED_ROOT=\\\\192.168.1.95\\Study_Closed
FGT_CLOSED_ARCHIVE_ROOT=\\\\192.168.1.95\\Study_Archive
