FGT_ENVIRONMENT=development
FGT_DATABASE_URL=sqlite:///./data/folder_grant.db
FGT_API_KEY=replace-with-a-long-random-secret
FGT_EXECUTOR_MODE=mock
FGT_POWERSHELL_PATH=powershell.exe
FGT_POWERSHELL_TIMEOUT_SECONDS=300
FGT_TEMPLATE_ROOT=\\LSK_S010\Study folder\_Template
FGT_GROUP_OU_PATH=OU=Group Project Folder,OU=0.Management Object Group,OU=lskglobal,DC=lskglobal,DC=com
FGT_SHARE_ROOT=\\LSK_S010\Study Folder\{proj_seg}\{lv2}\{lv3}
FGT_CLOSED_ROOT=\\192.168.1.95\Study_Closed
FGT_CLOSED_ARCHIVE_ROOT=\\192.168.1.95\Study_Archive
